<template>
  <div class="course">
    <transition
      appear
      name="slide-fade"
    >
      <b-container class="mt-3">
        <b-row>
          <b-col
            v-if="loading"
            lg="8"
            md="12"
            class="mb-3"
          >
            <b-progress
              animated
              striped
              variant="info"
              :value="100"
            />
          </b-col>
          <b-col
            v-else
            lg="8"
            md="12"
            class="mb-3"
          >
            <b-row class="mb-3">
              <b-col cols="12">
                <b-card>
                  <h5 class="card-title">
                    {{ course.name }}
                    <small class="text-muted">课程编号：{{ course.course_id }}</small>
                  </h5>
                  <hr>
                  <b-card-text>
                    <span class="mr-5">
                      挂科：
                      <span class="text-danger">{{ fail_rate }}</span>
                    </span>
                    <span>
                      优秀：
                      <span class="text-success">{{ excellent_rate }}</span>
                    </span>
                    <br>
                    <span class="mr-3">学分：{{ course.credit }}</span>
                    <span class="mr-3">总学时：{{ course.hour }}</span>
                    <span>课程属性：{{ course.course_attr }}</span>
                    <br>
                    <span>课程性质：{{ course.course_type }}</span>
                  </b-card-text>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-card>
                  <h5 class="card-title">
                    成绩分布图
                    <small class="text-muted">（参与统计人数：{{ analysis.count }}）</small>
                  </h5>
                  <hr>
                  <div class="card-text">
                    <course-bar-chart
                      v-if="load_chart"
                      :my-data="chart_data"
                    />
                  </div>
                </b-card>
              </b-col>
            </b-row>
          </b-col>
          <b-col
            lg="4"
            md="12"
          >
            <b-card>
              <h5 class="card-title">
                共 {{ count }} 条评论
              </h5>
              <hr>
              <span>
                <transition-group
                  name="list-complete"
                  tag="b-row"
                  class="card-text"
                >
                  <b-col
                    v-for="comment in comments"
                    :key="comment.comment.id"
                    cols="12"
                    class="list-complete-item"
                  >
                    <b-row>
                      <b-col cols="12">
                        <small>
                          {{ comment.user.name }}({{ comment.user.score }})
                          <span class="text-muted">
                            {{ comment.comment.date }}
                            <a
                              v-if="comment.comment.my || $store.state.admin"
                              style="cursor:pointer"
                              @click="deleteComment(comment)"
                            >删除</a>
                          </span>
                        </small>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col cols="12">
                        <b-alert
                          show
                          variant="info"
                          class="px-2 py-1"
                        >{{ comment.comment.content }}</b-alert>
                      </b-col>
                    </b-row>
                  </b-col>
                </transition-group>
                <b-button
                  block
                  :disabled="loading_comments || all_comments_loaded"
                  size="sm"
                  variant="outline-secondary"
                  @click="loadComments"
                >
                  <span
                    v-if="loading_comments"
                    class="spinner-border spinner-border-sm"
                    role="status"
                  />
                  {{ load_comments_button_text }}
                </b-button>

                <div v-if="$store.state.logged">
                  <hr>
                  <transition name="slide-fade">
                    <b-row
                      v-if="loading_my_info"
                      class="text-center"
                    >
                      <b-col cols="12">
                        <b-spinner variant="info" />
                      </b-col>
                    </b-row>
                  </transition>
                  <transition name="slide-fade">
                    <div v-if="!loading_my_info">
                      <b-row class="small">
                        <b-col cols="12">
                          <span
                            class="mr-3"
                            :class="{'text-black-50': anonymous, 'font-weight-bold': !anonymous}"
                            style="cursor:pointer"
                            @click="anonymous = false"
                          >{{ my_info.name }}({{ my_info.score }})</span>
                          <span
                            :class="{'text-black-50': !anonymous, 'font-weight-bold': anonymous}"
                            style="cursor:pointer"
                            @click="anonymous = true"
                          >匿名({{ my_info.score }})</span>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col cols="12">
                          <b-form @submit.prevent="uploadComment">
                            <b-input-group>
                              <b-form-input
                                v-model.trim="comment_content"
                                size="sm"
                                placeholder="这里可以选择匿名↑"
                              />
                              <b-input-group-append>
                                <b-button
                                  type="submit"
                                  :disabled="sending"
                                  size="sm"
                                  variant="primary"
                                >
                                  <b-spinner
                                    v-if="sending"
                                    small
                                  />
                                  <font-awesome-icon
                                    v-else
                                    icon="paper-plane"
                                  />
                                </b-button>
                              </b-input-group-append>
                            </b-input-group>
                          </b-form>
                        </b-col>
                      </b-row>
                    </div>
                  </transition>
                </div>
              </span>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </transition>
  </div>
</template>

<script>
import CourseBarChart from "@/components/CourseBarChart.js";

export default {
  name: "Course",
  components: {
    CourseBarChart
  },
  data: function() {
    return {
      loading: true,
      load_chart: false,
      chart_data: { labels: [], data: [] },
      course: {
        course_id: "",
        name: "",
        credit: "",
        hour: "",
        exam_method: "",
        course_attr: "",
        course_type: "",
        course_category: ""
      },
      scores: [],
      analysis: {
        count: 0,
        excellent_count: 0,
        fail_count: 0
      },
      loading_comments: true,
      comments: [],
      count: 0,
      page: 1,
      loading_my_info: true,
      my_info: {
        stu_id: "",
        name: "",
        admin: false,
        score: ""
      },
      anonymous: false,
      comment_content: "",
      sending: false
    };
  },
  computed: {
    course_id: function() {
      return this.$route.params.course_id;
    },
    excellent_rate: function() {
      const rate = this.analysis.excellent_count / this.analysis.count;
      return (rate * 100).toFixed(2) + "%";
    },
    fail_rate: function() {
      const rate = this.analysis.fail_count / this.analysis.count;
      return (rate * 100).toFixed(2) + "%";
    },
    load_comments_button_text: function() {
      if (this.loading_comments) {
        return "正在加载";
      } else {
        if (this.all_comments_loaded) {
          return "没有更多评论啦";
        } else {
          return "加载更多";
        }
      }
    },
    all_comments_loaded: function() {
      return this.count === this.comments.length;
    }
  },
  mounted: function() {
    this.loadCourseInfo();
    this.loadComments();
    this.loadMyInfo();
  },
  methods: {
    loadCourseInfo: function() {
      this.axios
        .get("courses/" + this.course_id)
        .then(response => {
          this.course = response.data.course;
          this.scores = response.data.scores;
          this.analysis = response.data.analysis;
          const score_is_num = this.course.exam_method === "考试";
          if (score_is_num) {
            for (let i = 0; i <= 100; i++) {
              this.chart_data.labels.push(i);
            }
          } else {
            const levels = ["不及格", "及格", "中等", "良好", "优秀"];
            this.chart_data.labels = levels;
          }
          for (const key in this.scores) {
            this.chart_data.data.push(this.scores[key]);
          }
          this.load_chart = true;
        })
        .catch(() => {
          this.$emit("on-error", "加载课程信息失败！");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    loadComments: function() {
      const params = { start: (this.page - 1) * 10, count: 10 };
      this.axios
        .get("courses/" + this.course_id + "/comments", { params: params })
        .then(response => {
          this.comments = this.comments.concat(response.data.comments);
          this.count = response.data.count;
          this.page++;
        })
        .catch(() => {
          this.$emit("on-error", "加载评论失败！");
        })
        .finally(() => {
          this.loading_comments = false;
        });
    },
    loadMyInfo: function() {
      this.loading_my_info = true;
      if (this.$store.state.logged) {
        this.axios
          .get("courses/" + this.course_id + "/user")
          .then(response => {
            this.my_info = response.data;
          })
          .catch(() => {
            this.$emit("on-error", "加载个人信息失败！");
          })
          .finally(() => {
            this.loading_my_info = false;
          });
      }
    },
    uploadComment: function() {
      if (this.comment_content === "") {
        alert("内容不能为空！");
        return false;
      }
      this.sending = true;
      const params = {
        anonymous: this.anonymous,
        content: this.comment_content
      };
      this.axios
        .post("courses/" + this.course_id + "/comments", params)
        .then(() => {
          this.comments = [];
          this.page = 1;
          this.loadComments();
          this.comment_content = "";
        })
        .catch(() => {
          this.$emit("on-error", "发布评论失败！");
        })
        .finally(() => {
          this.sending = false;
        });
    },
    deleteComment: function(comment) {
      if (!confirm("确定删除？")) {
        return false;
      }
      this.axios
        .delete("comments/" + comment.comment.id)
        .then(() => {
          this.comments = [];
          this.page = 1;
          this.loadComments();
          this.comment_content = "";
        })
        .catch(() => {
          this.$emit("on-error", "删除评论失败！");
        });
    }
  }
};
</script>
