<template>
  <div class="courses">
    <transition
      appear
      name="slide-fade"
    >
      <b-container class="mt-3">
        <b-row class="mb-3">
          <b-col cols="12">
            <b-form @submit.prevent="searchCourses">
              <b-input-group>
                <b-input-group-prepend v-if="search">
                  <b-button
                    variant="outline-danger"
                    @click="load(1)"
                  >
                    <font-awesome-icon icon="chevron-left" />
                  </b-button>
                </b-input-group-prepend>
                <b-form-input
                  v-model.trim="keyword"
                  type="text"
                  placeholder="搜索课程"
                />
                <b-input-group-append>
                  <b-button
                    type="submit"
                    :disabled="loading"
                    variant="info"
                  >
                    <b-spinner
                      v-if="loading"
                      small
                      variant="secondary"
                    />
                    <span v-else>搜索</span>
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form>
          </b-col>
        </b-row>
        <transition name="slide-fade">
          <b-row
            v-if="loading"
            class="mb-3"
          >
            <b-col cols="12">
              <b-progress
                animated
                striped
                variant="info"
                :value="100"
              />
            </b-col>
          </b-row>
        </transition>
        <b-row class="mb-3">
          <b-col cols="12">
            <transition-group
              name="list-complete"
              tag="b-list-group"
            >
              <b-list-group-item
                v-for="course in courses"
                :key="course.course_id"
                :to="'/course/' + course.course_id"
                class="list-complete-item"
              >
                {{ course.name }}
                <b-badge
                  variant="secondary"
                  class="float-right"
                >
                  {{ course.count }} 人学过
                </b-badge>
              </b-list-group-item>
            </transition-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <transition
              appear
              name="slide-fade"
            >
              <div v-if="!search">
                <b-pagination
                  v-model="page"
                  :total-rows="count"
                  per-page="20"
                  align="fill"
                  @input="load(page)"
                />
              </div>
            </transition>
          </b-col>
        </b-row>
      </b-container>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Courses",
  data: function() {
    return {
      keyword: "",
      count: 0,
      courses: [],
      page: 1,
      search: false,
      loading: true
    };
  },
  computed: {},
  watch: {
    search: function(newSearch) {
      if (!newSearch) {
        this.keyword = "";
      }
    }
  },
  mounted: function() {
    this.load();
  },
  methods: {
    backTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },
    searchCourses: function() {
      this.loading = true;
      this.search = true;
      const params = {
        keyword: this.keyword
      };
      this.axios
        .get("courses/search", {
          params: params
        })
        .then(response => {
          this.count = response.data.count;
          this.courses = response.data.courses;
        })
        .catch(() => {
          this.$emit("on-error", "搜索失败！");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    load: function(page = this.page) {
      this.backTop();
      this.loading = true;
      this.search = false;
      const params = {
        start: (page - 1) * 20,
        count: 20
      };
      this.axios
        .get("courses", {
          params: params
        })
        .then(response => {
          this.count = response.data.count;
          this.courses = response.data.courses;
        })
        .catch(() => {
          this.$emit("on-error", "加载课程列表失败！");
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>
