<template>
  <div class="home">
    <transition
      appear
      name="slide-fade"
    >
      <b-container class="mt-3">
        <b-row class="mb-3">
          <b-col cols="12">
            <b-card v-if="$store.state.logged">
              <span>你的大学已过 {{ pro_days }} 天 {{ now_hour }} 小时 {{ now_minute }} 分 {{ now_second }} 秒</span>
              <hr>
              <b-row>
                <b-col cols="2">
                  <small class="float-left text-muted">入学</small>
                </b-col>
                <b-col
                  cols="2"
                  offset="8"
                >
                  <small class="float-right text-muted">毕业</small>
                </b-col>
              </b-row>
              <b-progress height="20px">
                <b-progress-bar
                  animated
                  striped
                  :value="past_precent"
                >
                  {{ past_precent + "%" }}
                </b-progress-bar>
              </b-progress>
            </b-card>
            <b-card v-else>
              <span>你的大学已过 ? 天 ? 小时 ? 分 ? 秒</span>
              <hr>
              <b-button
                block
                variant="outline-info"
                size="sm"
                to="/login"
              >
                登录后查看大学余额
              </b-button>
            </b-card>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col
            lg="8"
            md="12"
            class="mb-3"
          >
            <b-card>
              <transition name="slide-fade">
                <b-row
                  v-if="loading_comments"
                  class="text-center mb-2"
                >
                  <b-col cols="12">
                    <b-spinner variant="info" />
                  </b-col>
                </b-row>
              </transition>
              <transition-group name="list-complete">
                <router-link
                  v-for="comment in comments"
                  :key="comment.comment.id"
                  :to="'/course/' + comment.course.id"
                  class="text-decoration-none"
                >
                  <b-alert
                    show
                    variant="info"
                    class="list-complete-item pb-4"
                  >
                    <b-container>
                      <b-row class="mb-1">
                        <span class="text-dark">{{ comment.course.name }}</span>
                      </b-row>
                      <b-row>
                        <h4 class="text-break">
                          「{{ comment.comment.content }}」
                        </h4>
                      </b-row>
                      <b-row class="float-right">
                        <small
                          class="text-right"
                        >{{ comment.comment.date }} {{ comment.user.name }}({{ comment.user.score }})</small>
                      </b-row>
                    </b-container>
                  </b-alert>
                </router-link>
              </transition-group>
            </b-card>
          </b-col>
          <b-col
            lg="4"
            md="12"
            class="mb-3"
          >
            <transition-group
              name="list-complete"
              tag="div"
            >
              <b-row
                v-for="article in articles"
                :key="article.title + article.datetime + article.views"
                class="mb-3 list-complete-item"
              >
                <b-col cols="12">
                  <b-card>
                    <p class="card-title">
                      {{ article.title }}
                      <b-button
                        v-if="$store.state.admin"
                        pill
                        size="sm"
                        variant="danger"
                        @click="deleteArticle(article.id)"
                      >
                        删除
                      </b-button>
                      <small class="text-muted float-right ml-1">浏览: {{ article.viewers }}</small>
                      <br>
                      <small class="text-muted float-right">{{ article.date }}</small>
                    </p>
                    <hr>
                    <div v-html="article.content" />
                  </b-card>
                </b-col>
              </b-row>
            </transition-group>
            <!-- <b-row class="mb-3">
              <b-col cols="12">
                <b-card>
                  <h5 class="card-title">
                    特别赞助
                  </h5>
                  <hr>
                  <div>
                    <a
                      href="https://haizeix.com"
                      target="_blank"
                    >
                      <img
                        class="img-fluid rounded"
                        alt="海贼科技"
                        src="https://fubaijie.xyenon.bid/static/img/%E6%B5%B7%E8%B4%BC%E7%A7%91%E6%8A%80%E5%AE%A3%E4%BC%A0%E5%9B%BE_%E5%93%88%E5%B7%A5%E7%A8%8B/logo%E5%85%AC%E5%8F%B8%E5%90%8D-%E6%B5%B7%E8%B4%BC%E5%AE%9D%E8%97%8F.jpg"
                      >
                    </a>
                  </div>
                </b-card>
              </b-col>
            </b-row> -->
          </b-col>
        </b-row>
      </b-container>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: function() {
    return {
      loading_comments: true,
      comments: [],
      articles: [],
      past_precent: 0,
      pro_days: 0
    };
  },
  computed: {
    now_hour: function() {
      return new Date().getHours();
    },
    now_minute: function() {
      return new Date().getMinutes();
    },
    now_second: function() {
      return new Date().getSeconds();
    }
  },
  mounted: function() {
    if (this.$store.state.logged) {
      this.refreshPrecent();
    }
    this.loadComments();
    this.loadArticles();
  },
  methods: {
    refreshPrecent: function() {
      const start_year = this.$store.state.stu_id.slice(0, 4);
      const start_date = new Date(start_year + "-08-28");
      const end_date = new Date();
      this.pro_days = Math.floor(
        (end_date - start_date) / (1000 * 60 * 60 * 24)
      );
      this.past_precent = Math.floor((this.pro_days / 1372) * 100);
    },
    loadComments: function() {
      this.loading_comments = true;
      const params = { start: (this.page - 1) * 10, count: 10 };
      this.axios
        .get("/comments", { params: params })
        .then(response => {
          this.comments = this.comments.concat(response.data.comments);
          this.count = response.data.count;
          this.page++;
        })
        .catch(() => {
          this.$emit("on-error", "加载评论失败！");
        })
        .finally(() => {
          this.loading_comments = false;
        });
    },
    loadArticles: function() {
      this.axios
        .get("articles")
        .then(response => {
          this.articles = response.data.articles;
        })
        .catch(() => {
          this.$emit("on-error", "加载文章失败！");
        });
    },
    deleteArticle: function(id) {
      if (!confirm("确定删除？")) {
        return false;
      }
      this.axios
        .delete("articles/" + id)
        .then(() => {
          this.loadArticles();
        })
        .catch(() => {
          this.$emit("on-error", "删除文章失败！");
        });
    }
  }
};
</script>
