<template>
  <div class="login">
    <transition
      appear
      name="slide-fade"
    >
      <b-container class="mt-3">
        <b-row>
          <b-col
            lg="6"
            offset-lg="3"
            sm="15"
          >
            <b-card>
              为了提升体验，腐败街网将
              <b>会记录你的账号密码</b>。如果你介意，请勿输入它！
              <hr>
              <b-form @submit.prevent="login">
                <b-form-row class="mb-3">
                  <b-form-input
                    v-model.trim="studentnum"
                    placeholder="学号"
                  />
                </b-form-row>
                <b-form-row class="mb-3">
                  <b-form-input
                    v-model="password"
                    type="password"
                    placeholder="统一身份认证密码"
                  />
                </b-form-row>
                <b-form-row>
                  <b-button
                    type="submit"
                    variant="primary"
                    block
                    :disabled="logging"
                  >
                    <span
                      v-if="logging"
                      class="spinner-border spinner-border-sm"
                      role="status"
                    />
                    {{ buttonText }}
                  </b-button>
                </b-form-row>
              </b-form>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Login",
  data: function() {
    return {
      studentnum: "",
      password: "",
      logging: false
    };
  },
  computed: {
    buttonText: function() {
      if (this.logging) {
        return "正在登录";
      } else {
        return "统一身份认证账号登录";
      }
    }
  },
  created: function() {
    if (this.$store.state.logged) {
      this.$router.push("/");
    }
  },
  methods: {
    login: function() {
      if (this.studentnum.length * this.password.length === 0) {
        alert("请将信息填写完整");
        return false;
      }
      this.logging = true;
      const params = { stu_id: this.studentnum, stu_password: this.password };
      this.axios
        .post("login", params)
        .then(response => {
          this.$store.commit("login", response.data.token);
          this.axios.defaults.headers.common["Authorization"] =
            "Bearer " + this.$store.state.token;
          this.loadUserInfo();
        })
        .catch(error => {
          this.$emit("on-error", "登录失败！" + error.response.data.msg);
          this.logging = false;
        });
    },
    loadUserInfo: function() {
      this.axios
        .get("user")
        .then(response => {
          this.$store.commit("setUser", response.data);
          this.$router.push("/");
        })
        .catch(error => {
          this.$store.commit("logout");
          this.$emit("on-error", "登录失败！" + error.response.data.msg);
        })
        .finally(() => {
          this.logging = false;
        });
    }
  }
};
</script>
