<template>
  <div class="score">
    <transition
      appear
      name="slide-fade"
    >
      <b-container class="mt-3">
        <b-row>
          <b-col
            lg="7"
            md="12"
            class="mb-3"
          >
            <b-row class="mb-3">
              <b-col cols="12">
                <b-card>
                  <b-card-text>
                    {{ $store.state.name }}的旧成绩单。如果你仅用来算学分，请不要点击
                    <b-button
                      size="sm"
                      variant="outline-secondary"
                      :disabled="loading"
                      @click="getNewScores"
                    >
                      从教务处获取最新成绩
                    </b-button>，因为那会让腐败街负载变大(ﾉД`)
                    <hr>点击选中分数可计算加权平均分
                  </b-card-text>
                </b-card>
              </b-col>
            </b-row>
            <transition
              appear
              name="slide-fade"
            >
              <b-progress
                v-if="loading"
                class="mb-3"
                :value="100"
                variant="info"
                striped
                animated
              />
              <div v-else>
                <b-row
                  v-if="all_success"
                  class="mb-3"
                >
                  <b-col cols="12">
                    <b-card>
                      <b-card-text class="text-success">
                        已经全部通过 :)
                      </b-card-text>
                    </b-card>
                  </b-col>
                </b-row>
                <b-row
                  v-else
                  class="mb-3"
                >
                  <b-col cols="12">
                    <b-card>
                      <b-card-text>
                        你挂过的必修课：
                        <transition-group name="list-complete">
                          <b
                            v-for="(_score, course) in fail_courses"
                            :key="course"
                            class="list-complete-item"
                          >{{ course }}&emsp;</b>
                        </transition-group>
                        <br>到现在还没过的：
                        <transition-group
                          name="list-complete"
                          tag="ul"
                        >
                          <li
                            v-for="(times,course) in still_fail_courses"
                            :key="course"
                            class="text-danger list-complete-item"
                          >
                            <b>已经考过 {{ times }} 次的 {{ course }}</b>
                          </li>
                        </transition-group>
                        <small class="text-muted">*仅计算已经出成绩的考试次数，暂时未出成绩的不计入哦~</small>
                      </b-card-text>
                    </b-card>
                  </b-col>
                </b-row>
                <transition
                  appear
                  name="slide-fade"
                >
                  <b-row
                    v-if="selected.length > 0"
                    class="mb-3"
                  >
                    <b-col cols="12">
                      <b-card>
                        <b-card-text>选中的 {{ compute_avg.count }} 门科目，学分总 {{ compute_avg.all_credit }}，加权分 {{ compute_avg.jia_quan }}</b-card-text>
                      </b-card>
                    </b-col>
                  </b-row>
                </transition>
              </div>
            </transition>
            <b-row>
              <b-col cols="12">
                <transition-group
                  tag="div"
                  name="list-complete"
                  role="tablist"
                >
                  <b-card
                    v-for="(scores, semester) in items"
                    :key="semester + '123'"
                    no-body
                    class="mb-2 p-0 list-complete-item"
                  >
                    <b-card-header
                      header-tag="header"
                      class="p-0"
                      role="tab"
                    >
                      <b-button
                        block
                        href="#"
                        variant="outline-secondary"
                        @click="toggle(semester)"
                      >
                        {{ semester }}
                      </b-button>
                    </b-card-header>
                    <b-collapse
                      :id="semester"
                      role="tabpanel"
                    >
                      <b-table
                        selectable
                        selected-variant="active"
                        :items="scores"
                        :fields="fields"
                        @row-selected="onRowSelected"
                      >
                        <template v-slot:cell(#)="{ rowSelected }">
                          <template v-if="rowSelected">
                            <span aria-hidden="true">&check;</span>
                            <span class="sr-only">Selected</span>
                          </template>
                          <template v-else>
                            <span aria-hidden="true">&nbsp;</span>
                            <span class="sr-only">Not selected</span>
                          </template>
                        </template>
                        <template v-slot:cell(成绩)="data">
                          <span :class="color(data.value)">{{ modifyScore(data.value) }}</span>
                        </template>
                      </b-table>
                    </b-collapse>
                  </b-card>
                </transition-group>
              </b-col>
            </b-row>
          </b-col>
          <b-col
            lg="5"
            md="12"
          >
            <transition name="slide-fade">
              <button
                v-if="!loadSvg"
                :disabled="loadingSvg || true"
                type="button"
                class="btn btn-info btn-block"
                @click="loadSvgAndCredit"
              >
                <span
                  v-if="loadingSvg"
                  class="spinner-border spinner-border-sm"
                  role="status"
                />
                {{ loadSvgButtonText }}
              </button>
              <div
                v-if="loadSvg"
                class="card"
              >
                <img
                  :src="svgUrl"
                  class="card-img-top"
                  alt="学分统计图"
                >
                <div class="card-body">
                  <div class="card-text container small">
                    <form class="form-inline">
                      <div class="row">
                        <p>
                          本科期间通识教育选修课程须修满
                          <select
                            v-model.number="needCredit.tong_shi"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>学分，
                        </p>
                        <p>
                          其中“文化素质教育类”课程须修满
                          <select
                            v-model.number="needCredit.wen_hua"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>学分，
                        </p>
                        <p>
                          且须包括D模块
                          <select
                            v-model.number="needCredit.d_module"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>学分，
                        </p>
                        <p>
                          “创新创业类”课程须修满
                          <select
                            v-model.number="needCredit.chuang_xin"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>学分。
                        </p>
                      </div>
                    </form>
                    <form class="form-inline">
                      <div class="row">
                        <p>
                          <select
                            v-model="studentType"
                            class="custom-select custom-select-sm"
                          >
                            <option>理工专业类</option>
                            <option>语言文学类</option>
                          </select>
                          学生须获得 {{ moduleType }} 模块课程至少
                          <select
                            v-show="moduleType==='A-D'"
                            :key="'ad'"
                            v-model.number="needCredit.a_d_module"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>
                          <select
                            v-show="moduleType==='E-F'"
                            :key="'ef'"
                            v-model.number="needCredit.e_f_module"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>学分。
                        </p>
                      </div>
                    </form>
                    <form class="form-inline">
                      <div class="row">
                        <p>
                          另外，专业选修须修满
                          <select
                            v-model.number="needCredit.zhuan_ye"
                            class="custom-select custom-select-sm"
                          >
                            <option
                              v-for="i in 20"
                              :key="i"
                            >
                              {{ i }}
                            </option>
                          </select>学分。
                        </p>
                      </div>
                    </form>
                    <hr>
                    <p>1.</p>
                    <p>
                      你的通识教育选修课程已修得
                      <span
                        class="h4"
                        :class="creditColor.tong_shi"
                      >{{ myCreditNum.tong_shi }}</span> 学分，
                    </p>
                    <p>
                      其中“文化素质教育类”课程已修得
                      <span
                        class="h4"
                        :class="creditColor.wen_hua"
                      >{{ myCreditNum.wen_hua }}</span> 学分，
                    </p>
                    <p>
                      其中包括 D 模块
                      <span
                        class="h4"
                        :class="creditColor.d_module"
                      >{{ myCreditNum.d_module }}</span> 学分，
                    </p>
                    <p>
                      “创新创业类”课程已修得
                      <span
                        class="h4"
                        :class="creditColor.chuang_xin"
                      >{{ myCreditNum.chuang_xin }}</span> 学分。
                    </p>
                    <p>2.</p>
                    <p v-show="moduleType==='A-D'">
                      作为理工学生，你的 A-D 模块课程已修得
                      <span
                        class="h4"
                        :class="creditColor.a_d_module"
                      >{{ myCreditNum.a_d_module }}</span> 学分。
                    </p>
                    <p v-show="moduleType==='E-F'">
                      作为文科学生，你的 E-F 模块课程已修得
                      <span
                        class="h4"
                        :class="creditColor.e_f_module"
                      >{{ myCreditNum.e_f_module }}</span> 学分。
                    </p>
                    <p>3.</p>
                    <p>
                      另外，专业选修已修得
                      <span
                        class="h4"
                        :class="creditColor.zhuan_ye"
                      >{{ myCreditNum.zhuan_ye }}</span> 分
                    </p>
                    <hr>
                    <div class="row">
                      <p class="text-muted">
                        提示：点击数字可以修改学分要求
                      </p>
                    </div>
                  </div>
                  <b-button
                    v-b-modal.modal-suggestion
                    class="btn btn-primary btn-block"
                  >
                    接下来我该怎么选课
                  </b-button>
                </div>
              </div>
            </transition>
          </b-col>
        </b-row>
      </b-container>
    </transition>
    <b-modal
      id="modal-suggestion"
      size="lg"
      title="选修建议"
    >
      <p class="small text-muted">
        选修建议基于前面的学分要求。学分统计那里的数字都是可以点击的，点击后是下拉列表，请选择本学院自己的学分要求
      </p>
      <b-alert show>
        Default Alert
      </b-alert>
      <b-alert show>
        Default Alert
      </b-alert>
      <b-alert show>
        Default Alert
      </b-alert>
      <b-alert show>
        Default Alert
      </b-alert>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Score",
  data: function() {
    return {
      fields: ["#", "课程名称", "成绩", "学分"],
      items: {},
      selected: {},
      loading: true,
      fail_courses: {},
      still_fail_courses: {},
      loadSvg: false,
      loadingSvg: false,
      svgUrl: "",
      studentType: "",
      needCredit: {
        tong_shi: "",
        wen_hua: "",
        d_module: "",
        chuang_xin: "",
        a_d_module: "",
        e_f_module: "",
        zhuan_ye: ""
      },
      myCredit: {
        tong_shi: "",
        wen_hua: "",
        d_module: "",
        chuang_xin: "",
        a_d_module: "",
        e_f_module: "",
        zhuan_ye: ""
      }
    };
  },
  computed: {
    compute_avg: function() {
      let all_credit = 0;
      let all_score = 0;
      for (const index in this.selected) {
        const credit = this.selected[index].学分;
        let score = this.selected[index].成绩;
        all_credit += parseFloat(credit);
        if (score === "---") score = 0;
        else if (score === "不及格") score = 30;
        else if (score === "及格") score = 65;
        else if (score === "中等") score = 75;
        else if (score === "良好") score = 85;
        else if (score === "优秀") score = 95;
        else {
          score = parseInt(score);
        }
        all_score += score * parseFloat(credit);
      }
      let jia_quan = 0;
      if (all_credit !== 0) {
        jia_quan = (all_score / all_credit).toFixed(2);
      }
      return {
        all_credit: all_credit,
        count: this.selected.length,
        all_score: all_score,
        jia_quan: jia_quan
      };
    },
    loadSvgButtonText: function() {
      if (this.loadingSvg) {
        return "正在加载";
      } else {
        return "统计学分开发中" || "点击统计学分";
      }
    },
    all_success: function() {
      return Object.keys(this.fail_courses).length === 0;
    },
    moduleType: function() {
      if (this.studentType === "语言文学类") {
        return "E-F";
      } else {
        return "A-D";
      }
    },
    myCreditNum: function() {
      const sum_dict = function(the_dict) {
        let ans = 0;
        for (let key in the_dict) {
          ans += the_dict[key];
        }
        return ans;
      };
      return {
        tong_shi: sum_dict(this.myCredit.tong_shi),
        wen_hua: sum_dict(this.myCredit.wen_hua),
        d_module: sum_dict(this.myCredit.d_module),
        chuang_xin: sum_dict(this.myCredit.chuang_xin),
        a_d_module: sum_dict(this.myCredit.a_d_module),
        e_f_module: sum_dict(this.myCredit.e_f_module),
        zhuan_ye: sum_dict(this.myCredit.zhuan_ye)
      };
    },
    creditColor: function() {
      let color = {
        tong_shi: "",
        wen_hua: "",
        d_module: "",
        chuang_xin: "",
        a_d_module: "",
        e_f_module: "",
        zhuan_ye: ""
      };
      for (const key in this.myCreditNum) {
        if (this.needCredit[key] > this.myCreditNum[key]) {
          color[key] = "text-danger";
        } else {
          color[key] = "text-success";
        }
      }
      return color;
    }
  },
  watch: {
    // needCredit: function(newNeedCredit) {
    //   const params = new URLSearchParams();
    //   params.append("studentType", this.studentType);
    //   params.append("tongshijiaoyu_0", newNeedCredit.tong_shi);
    //   params.append("wenhuasuzhi_0", newNeedCredit.wen_hua);
    //   params.append("yishuxiuyang_0", newNeedCredit.d_module);
    //   params.append("chuangxinchuangye_0", newNeedCredit.chuang_xin);
    //   params.append("ligongABCD_0", newNeedCredit.a_d_module);
    //   params.append("wenkeEF_0", newNeedCredit.e_f_module);
    //   params.append("zhuanyexuanxiu_0", newNeedCredit.zhuan_ye);
    //   this.axios
    //     .post("/api/set-credit-requirement/", params)
    //     .then(response => {
    //       if (response.data.state === "ok") {
    //         alert("学分要求修改完毕");
    //       } else {
    //         alert("学分要求修改失败");
    //       }
    //     })
    //     .catch(error => {
    //       alert("学分要求修改失败" + error);
    //     });
    // }
  },
  mounted: function() {
    if (!this.$store.state.logged) {
      this.$router.push("login");
    } else {
      this.loadScore();
    }
  },
  methods: {
    modifyScore: score => {
      const ss_int = parseInt(score);
      if (Boolean(ss_int) && ss_int === 60) {
        return "60❤";
      } else {
        return score;
      }
    },
    color: score => {
      let color = {};
      const ss_int = parseInt(score);
      if (ss_int) {
        // 如果是整数
        if (ss_int === 100) {
          color["text-warning"] = true;
        } else if (ss_int >= 90) {
          color["text-success"] = true;
        } else if (ss_int < 60) {
          color["text-danger"] = true;
        } else if (ss_int === 60) {
          color["text-warning"] = true;
        }
      } else {
        // 如果是字符串
        if (score === "不及格" || score === "---") {
          color["text-danger"] = true;
        } else if (score === "优秀") {
          color["text-success"] = true;
        }
      }
      // 现有的简陋算法下‘0’会被当作及格 所以写一个补丁
      if (score === "0") {
        color["text-danger"] = true;
      }
      return color;
    },
    onRowSelected(items) {
      this.selected = items;
    },
    loadScore: function() {
      this.axios
        .get("score")
        .then(response => {
          let scores_sort_by_semester = {};
          for (const index in response.data) {
            const score = response.data[index];
            if (scores_sort_by_semester[score.score.semester]) {
              scores_sort_by_semester[score.score.semester].push(score);
            } else {
              scores_sort_by_semester[score.score.semester] = [score];
            }
          }
          let semesters = [];
          let courses = [];
          for (const semester in scores_sort_by_semester) {
            semesters.push(semester);
            courses.push(scores_sort_by_semester[semester]);
          }
          semesters = semesters.reverse();
          courses = courses.reverse();
          scores_sort_by_semester = {};
          for (let i = 0; i < semesters.length; ++i) {
            scores_sort_by_semester[semesters[i]] = courses[i];
          }
          this.allFail(scores_sort_by_semester);
          this.genTable(scores_sort_by_semester);
          this.loading = false;
        })
        .catch(() => {
          this.$emit("on-error", "加载分数失败！");
        })
        .finally();
    },
    genTable: function(scores_sort_by_semester) {
      for (const semester in scores_sort_by_semester) {
        const scores = scores_sort_by_semester[semester];
        for (const i in scores) {
          if (this.items[semester]) {
            this.items[semester].push({
              "#": i,
              课程名称: scores[i].course.name,
              成绩: scores[i].score.score,
              学分: scores[i].course.credit
            });
          } else {
            this.items[semester] = [
              {
                "#": i,
                课程名称: scores[i].course.name,
                成绩: scores[i].score.score,
                学分: scores[i].course.credit
              }
            ];
          }
        }
      }
    },
    getNewScores: function() {
      this.loading = true;
      this.axios
        .post("score")
        .then(() => {
          window.location.reload();
        })
        .catch(() => {
          this.$emit("on-error", "获取失败！");
        });
    },
    toggle: function(id) {
      this.$root.$emit("bv::toggle::collapse", id);
    },
    failOrNot: function(course_score) {
      if (course_score === undefined) {
        return false;
      }
      const ss_int = parseInt(course_score);
      if (ss_int) {
        // 如果是整数
        if (ss_int < 60) {
          return true;
        }
        return false;
      } else {
        // 如果是字符串
        if (course_score === "不及格" || course_score.indexOf("-") !== -1) {
          return true;
        } else {
          return false;
        }
      }
    },
    allFail: function(scores_sort_by_semester) {
      // 1.第一次遍历 将所有挂科的科目添加到fail_course字典中
      for (const semester in scores_sort_by_semester) {
        const scores = scores_sort_by_semester[semester];
        for (const index in scores) {
          const score = scores[index];
          if (
            score.course.course_attr === "必修" &&
            this.failOrNot(score.score.score) &&
            !(score.course.name in this.fail_courses)
          ) {
            this.fail_courses[score.course.name] = score.score.score;
          }
        }
      }
      // 2.第二次遍历 将所有及格的科目成绩刷新
      for (const semester in scores_sort_by_semester) {
        const scores = scores_sort_by_semester[semester];
        for (const index in scores) {
          const score = scores[index];
          if (
            score.course.name in this.fail_courses &&
            !this.failOrNot(score.score.score)
          ) {
            this.fail_courses[score.course.name] = score.score.score;
          }
        }
      }
      // 3.填充依旧挂的科目信息到still_fail_course:{course_name: 0}
      for (let score in this.fail_courses) {
        if (this.failOrNot(this.fail_courses[score]) === true) {
          this.still_fail_courses[score] = 0;
        }
      }
      // 4.第三次遍历 只要科目名称在still_fail_course出现 该key的值就+1
      for (let semester in scores_sort_by_semester) {
        const scores = scores_sort_by_semester[semester];
        for (let index in scores) {
          let score = scores[index];
          if (score.course.name in this.still_fail_courses) {
            this.still_fail_courses[score.course.name] += 1;
          }
        }
      }
    },
    loadSvgAndCredit: function() {
      this.loadingSvg = true;
      this.axios
        .post("get-svg-and-credit-url/")
        .then(response => {
          if (response.data.state === "ok") {
            // 2.1加载svg图
            this.svgUrl = "https://fubaijie.xyenon.bid" + response.data.svg_url;
            const parser_credit = response.data.parser_credit;
            this.myCredit.tong_shi = parser_credit.tongshijiaoyu_mine;
            this.myCredit.wen_hua = parser_credit.wenhuasuzhi_mine;
            this.myCredit.d_module = parser_credit.yishuxiuyang_mine;
            this.myCredit.chuang_xin = parser_credit.chuangxinchuangye_mine;
            this.myCredit.a_d_module = parser_credit.ligongABCD_mine;
            this.myCredit.e_f_module = parser_credit.wenkeEF_mine;
            this.myCredit.zhuan_ye = parser_credit.zhuanyexuanxiu_mine;
            this.loadSvg = true;
          } else {
            alert("加载失败");
          }
        })
        .catch(error => {
          alert("加载失败" + error);
        });
      this.loadCreditRequirement();
    },
    loadCreditRequirement: function() {
      this.axios
        .post("get-credit-requirement/")
        .then(response => {
          if (response.data.state === "ok") {
            const credit_requirement = response.data.credit_requirement;
            this.needCredit.tong_shi = credit_requirement.tongshijiaoyu_0;
            this.needCredit.wen_hua = credit_requirement.wenhuasuzhi_0;
            this.needCredit.d_module = credit_requirement.yishuxiuyang_0;
            this.needCredit.chuang_xin = credit_requirement.chuangxinchuangye_0;
            this.studentType = credit_requirement.student_type;
            this.needCredit.a_d_module = credit_requirement.ligongABCD_0;
            this.needCredit.e_f_module = credit_requirement.wenkeEF_0;
            this.needCredit.zhuan_ye = credit_requirement.zhuanyexuanxiu_0;
          } else {
            alert("加载失败");
          }
        })
        .catch(error => {
          alert("加载失败" + error);
        })
        .finally(() => {
          this.loadingSvg = false;
        });
    }
  }
};
</script>
