<template>
  <div class="timetable">
    <transition
      appear
      name="slide-fade"
    >
      <b-container
        fluid
        class="mt-3"
      >
        <b-row class="mb-3 d-none d-md-block">
          <b-col cols="12">
            <b-card>
              <b-row align-v="center">
                <b-col
                  lg="10"
                  md="12"
                >
                  <b-card-text>选择周数</b-card-text>
                  <b-form-group class="weeks-selecter">
                    <b-form-radio-group
                      v-model="now_week"
                      :options="weeks"
                      buttons
                      button-variant="outline-secondary"
                      size="sm"
                    />
                  </b-form-group>
                </b-col>
                <b-col
                  lg="2"
                  md="12"
                >
                  <b-button-group
                    vertical
                    class="float-right d-none d-lg-block"
                  >
                    <b-button
                      variant="success"
                      @click="getNewTimetable"
                    >
                      重新导入
                    </b-button>
                    <b-button
                      variant="primary"
                      @click="now_week = current_week"
                    >
                      回到本周
                    </b-button>
                  </b-button-group>
                  <b-button-group class="d-block d-lg-none d-flex">
                    <b-button
                      variant="success"
                      @click="getNewTimetable"
                    >
                      重新导入
                    </b-button>
                    <b-button
                      variant="primary"
                      @click="now_week = current_week"
                    >
                      回到本周
                    </b-button>
                  </b-button-group>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col cols="12">
            <b-card>
              <b-table
                :busy="loading"
                hover
                :items="timetable"
                :fields="fields"
                fixed
                class="text-center"
              >
                <template v-slot:table-busy>
                  <div class="text-center text-info mt-3">
                    <b-spinner class="align-middle mr-1" />
                    <strong>加载中...</strong>
                  </div>
                </template>
                <template v-slot:cell(一)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
                <template v-slot:cell(二)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
                <template v-slot:cell(三)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
                <template v-slot:cell(四)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
                <template v-slot:cell(五)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
                <template v-slot:cell(六)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
                <template v-slot:cell(日)="data">
                  <span class="td">
                    <p>{{ data.value.name }}</p>
                    <p class="classroom">{{ data.value.room }}</p>
                    <p class="d-none d-lg-block">{{ data.value.teacher }}</p>
                    <p class="d-none d-lg-block">{{ data.value.small_session }}</p>
                  </span>
                </template>
              </b-table>
            </b-card>
          </b-col>
        </b-row>
        <b-row class="mb-3 d-sm-block d-md-none">
          <b-col cols="12">
            <b-card>
              <b-row align-v="center">
                <b-col
                  lg="10"
                  md="12"
                >
                  <b-card-text>选择周数</b-card-text>
                  <b-form-group class="weeks-selecter">
                    <b-form-radio-group
                      v-model="now_week"
                      :options="weeks"
                      buttons
                      button-variant="outline-secondary"
                      size="sm"
                    />
                  </b-form-group>
                </b-col>
                <b-col
                  lg="2"
                  md="12"
                >
                  <b-button-group
                    vertical
                    class="float-right d-none d-lg-block"
                  >
                    <b-button
                      variant="success"
                      @click="getNewTimetable"
                    >
                      重新导入
                    </b-button>
                    <b-button
                      variant="primary"
                      @click="now_week = current_week"
                    >
                      回到本周
                    </b-button>
                  </b-button-group>
                  <b-button-group class="d-block d-lg-none d-flex">
                    <b-button
                      variant="success"
                      @click="getNewTimetable"
                    >
                      重新导入
                    </b-button>
                    <b-button
                      variant="primary"
                      @click="now_week = current_week"
                    >
                      回到本周
                    </b-button>
                  </b-button-group>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Timetable",
  data: function() {
    return {
      loading: true,
      fields: ["节次", "一", "二", "三", "四", "五", "六", "日"],
      empty_timetable: [
        {
          节次: "第一大节 8:00-9:35",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第二大节 9:55-12:20",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第三大节 13:30-15:05",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第四大节 15:25-17:50",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第五大节 18:30-20:55",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        }
      ],
      timetable: [
        {
          节次: "第一大节 8:00-9:35",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第二大节 9:55-12:20",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第三大节 13:30-15:05",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第四大节 15:25-17:50",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        },
        {
          节次: "第五大节 18:30-20:55",
          一: "",
          二: "",
          三: "",
          四: "",
          五: "",
          六: "",
          日: "",
          _cellVariants: {
            一: "",
            二: "",
            三: "",
            四: "",
            五: "",
            六: "",
            日: ""
          }
        }
      ],
      now_week: 1,
      current_week: 0,
      weeks: Array.from({ length: 25 }, (v, k) => k + 1),
      courses: []
    };
  },
  computed: {},
  watch: {
    now_week: function() {
      this.genTimetable();
    }
  },
  mounted: function() {
    if (!this.$store.state.logged) {
      this.$router.push("login");
    } else {
      this.current_week = this.now_week = this.currentWeek();
      this.loadTimetable();
    }
  },
  methods: {
    loadTimetable: function() {
      this.loading = true;
      this.axios
        .get("timetable")
        .then(response => {
          this.courses = response.data;
          this.genTimetable();
        })
        .catch(() => {
          this.$emit("on-error", "加载课程表失败！");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    getNewTimetable: function() {
      this.loading = true;
      this.axios
        .post("timetable")
        .then(() => {
          this.loadTimetable();
        })
        .catch(() => {
          this.$emit("on-error", "获取失败！");
          this.loading = false;
        });
    },
    currentWeek: function() {
      const termbegin = new Date(2020, 2, 2); //这里设置 开学日期"2018/02/19" "2018-02-19" （国际标准）
      const today = new Date();
      const days = parseInt(
        (today.getTime() - termbegin.getTime()) / (1000 * 60 * 60 * 24)
      );
      return Math.floor(days / 7) + 1;
    },
    genTimetable: function() {
      this.timetable = JSON.parse(JSON.stringify(this.empty_timetable));
      for (const index in this.courses) {
        const course = this.courses[index];
        if (!this.inWeek(this.now_week, course.week)) {
          continue;
        }
        const day = this.intToChar(course.day);
        this.timetable[course.session - 1]._cellVariants[day] = "info";
        this.timetable[course.session - 1][day] = course;
      }
    },
    inWeek: function(week, course_weeks) {
      course_weeks = course_weeks.replace("(周)", "").split(",");
      for (let index in course_weeks) {
        let course_week = course_weeks[index];
        if (course_week.indexOf("-") === -1) {
          if (parseInt(course_week) === week) {
            return true;
          }
        } else {
          course_week = course_week.split("-");
          const start = parseInt(course_week[0]);
          const end = parseInt(course_week[1]);
          if (week >= start && week <= end) {
            return true;
          }
        }
      }
      return false;
    },
    intToChar: function(num) {
      const chars = ["", "一", "二", "三", "四", "五", "六", "日"];
      return chars[num];
    }
  }
};
</script>

<style scoped>
@media (max-width: 991.98px) {
  .card,
  button {
    font-size: smaller;
  }
  .weeks-selecter {
    overflow: scroll;
  }
  .td {
    display: block;
    margin: -0.4rem;
  }
  table {
    font-size: xx-small;
  }
  .classroom {
    margin-bottom: 0%;
  }
}
</style>
