<template>
  <div id="app">
    <b-navbar
      toggleable="lg"
      type="dark"
      variant="dark"
    >
      <b-navbar-brand to="/">
        腐败街
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse" />
      <b-collapse
        id="nav-collapse"
        is-nav
      >
        <b-navbar-nav>
          <b-nav-item to="/">
            首页
          </b-nav-item>
          <b-nav-item to="/score">
            成绩
          </b-nav-item>
          <b-nav-item to="/timetable">
            课表
          </b-nav-item>
          <b-nav-item to="/courses">
            课程
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item
            v-if="!$store.state.logged"
            to="/login"
          >
            登录
          </b-nav-item>
          <b-nav-item
            v-else
            @click="logout"
          >
            {{ $store.state.name }}，点此退出
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view
      class="mb-5"
      @on-error="makeToast($event)"
    />
  </div>
</template>

<script>
export default {
  name: "App",
  data: function() {
    return {};
  },
  created: function() {
    if (localStorage.getItem("logged") === "true") {
      this.$store.commit("loadInfo");
      this.axios.defaults.headers.common["Authorization"] =
        "Bearer " + this.$store.state.token;
    }
  },
  methods: {
    logout: function() {
      if (confirm("确定退出登录？")) {
        this.$router.push("/");
        this.$store.commit("logout");
      }
    },
    makeToast(info) {
      this.$bvToast.toast(info, {
        title: "❌️错误❌️",
        toaster: "b-toaster-bottom-right",
        variant: "danger",
        autoHideDelay: 3000
      });
    }
  }
};
</script>

<style>
.list-complete-item {
  transition: all 0.8s;
}
.list-complete-leave-active {
  position: absolute;
}
.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  height: 0;
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
</style>
